//theming
$theme-colors: ("primary": #E33D47,
    "warning": #f7ce31,
    "success": #28c882,
    "danger": #ec1555);
// Body
$body-bg: #fff;
$body-color: #333;
// Typography
$font-family-sans-serif: "Poppins",sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.6;
$border-radius: 1rem;

